/*
ui.css
Lerie Taylor 2021
*/

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.inline{
    display:inline-block;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

/* Customize scrollbar */
.scroll-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 5px;
}
.scroll-container::-webkit-scrollbar-thumb:hover {
        background-color: #888;
    }





